*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.item{
    background-color: black;
    height: 75px;
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    padding-inline: 32px;
    gap: 16px;
}

button{
    padding: 2px 8px;
}

.numeros{
    flex-grow: 1;
    padding: 0px 8px;
}

.numeros span{
    display: inline-block;
    background-color: goldenrod;
    width: 50px;
    text-align: center;
    border: 1px solid black;
}

